:root {
  --white: #FFFFFF;
  --green-100: #DAF2D9;
  --green-300: #73B172;
  --green-500: #4E884D;
  --red-100: #F2D9D9;
  --red-300: #E36363;
  --purple-100: #C1B2FA;
  --purple-300: #AC96E4;
  --purple-500: #7A5FEC;
  --purple-700: #7C3AED;
  --gray-100: #F3F0FF;
  --gray-300: #E3E3ED;
  --gray-500: #E9E3F8;
  --gray-600: #9892A6;
  --gray-700: #857E95;
  --gray-800: #746E82;
  --gray-900: #575361;
  --font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-100);
  color: var(--gray-800);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

.component {
  width: 440px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-top: 8.875rem;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  border: var(--purple-100) 1px dashed;
  border-radius: 8px;

  background-color: var(--gray-100);

  padding-top: 1.75rem;
  padding-bottom: 2rem;
}

.upload p{
  color: var(--purple-500);
}

/*
.files - ok
.file - ok
.icon - ok
.content
.title
.progress
.message
*/

.files {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 1.25rem;
}

.file {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  background-color: var(--white);

  padding: 0.5rem;

  margin-bottom: 1.75rem;
}

.icon {
  padding: 1rem 0.75rem;
  border-radius: 4px;
  background-color: var(--gray-500);
}

.content {
  flex: 1;
  padding-left: 0.75rem;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.4rem;
}

.progress-bar {
  width: 20.25rem;
  height: 0.5rem;
  border-radius: 999px;
  background: var(--gray-300);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0, 1px rgba(255, 255, 255, 0.08);
}

.loader {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  background-image: linear-gradient(
    to right,
    #3A61ED,
    #7C3AED
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved2 .loader {
  width: 85%;
  background-color: #ef476f;
  animation: progressAnimation 6s;
}



@keyframes progressAnimation {
  0% {
    width: 0%;
    background-color: #f9bcca;
  }
  100% {
    width: 85%;
    background-color: #ef476f;
  }
}