:root {
  --white: #FFFFFF;
  --green-100: #DAF2D9;
  --green-300: #73B172;
  --green-500: #4E884D;
  --red-100: #F2D9D9;
  --red-300: #E36363;
  --purple-100: #C1B2FA;
  --purple-300: #AC96E4;
  --purple-500: #7A5FEC;
  --purple-700: #7C3AED;
  --gray-100: #F3F0FF;
  --gray-300: #E3E3ED;
  --gray-500: #E9E3F8;
  --gray-600: #9892A6;
  --gray-700: #857E95;
  --gray-800: #746E82;
  --gray-900: #575361;
  --font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-100);
  color: var(--gray-800);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

.component {
  width: 440px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-top: 8.875rem;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  border: var(--purple-100) 1px dashed;
  border-radius: 8px;

  background-color: var(--gray-100);

  padding-top: 1.75rem;
  padding-bottom: 2rem;
}

.upload {
  color: var(--purple-500);
}

.files {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding-top: 1.25rem;
}

.file {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  background-color: var(--white);

  padding: 0.5rem;

  margin-bottom: 1.75rem;
}

.icon{
  padding: 1rem 0.75rem;
  border-radius: 4px;
}

.icon {
  background-color: var(--gray-500);
}